<%- include("partials/header.ejs") %> 


<ul>
    <% if(locals.teste) {%>
       <% teste.forEach((item, index) =>{ %>


        <li id="<%= index +1 %>">

            <%= item %>
        </li>
       <%}) %>


    <% }else{ %>
        <p>Escreva sua nota</p>
    <% } %>
</ul>

<form action="/submit" method="post">
  <input type="text" name="nota1">
  <input type="submit" value="ok" />
</form>

<%- include("partials/footer.ejs") %>
