<%- include("partials/header.ejs") %> 

<h1>Anotações</h1>
<form action="/anotacoes" method="POST">
    <input type="text" name="nota" placeholder="Digite sua anotação" required>
    <button type="submit">Adicionar Anotação</button>
</form>
<ul>
    <% anotacoes.forEach(function(nota) { %>
        <li><%= nota %></li>
    <% }); %>
</ul>
    

<%- include("partials/footer.ejs") %>
